body {
  margin: 0;
  padding: 0;

  font-family: "Roboto","Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

.main-navigator {
  display: flex;
  flex-wrap: wrap;

  width: 1200px;

  outline: 1px solid red;
}

.main-header-logo {
  width: 155px;
  height: 67;
  padding-top: 10px;
  padding-left: 27px;
  outline: 1px solid red;
}

.menu-navigator a {
  color: #ffffff;
}

.menu-navigator {
display: flex;
flex-direction: row;
align-items: flex-start;
}

.menu-list {
  margin: 0;
  padding: 0;
}

.menu-list,
.menu-list a {
  list-style: none;
  color: #323232;

  background-color: #ffffff;
}

.main-menu-navigator,
.user-navigation {
  list-style: none;

  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  outline: 1px solid red;
}


.user-navigation {
  justify-content: flex-end;
  width: 294px;
  justify-content: space-around;

  font-size: 14px;
  line-height: 16px;
}

.navigator-contact {
  color: #ffffff;
  width: 54px;
  text-align: right;

  flex-grow: 1;

  outline: 1px solid red;
}

.nav-search,
.user-entrance,
.basket {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.main-menu-navigator {
  font-size: 14px;
  line-height: 18px;
  width: 724px;
}

.sale-slade {
  display: flex;
  flex-direction: column;

  width: 1200px;
  list-style: none;

  outline: 1px solid red;
}

.main-slade a {
  text-decoration: none;
}

.breadcrumbs a,
.breadcrumbs {
  color: #ffffff;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 0;

  width: 1200px;
  outline: 1px solid red;
}

.menu-selection {
  list-style: none;
  margin: 0;
}

.main-button {
 display: flex;


}


.slade-ice-cream {
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.sale-wrapper {
  display: flex;
  flex-direction: row;

  width: 1172px;
  padding-left: 27px;

  outline: 1px solid red;
}

.button-link a {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 2px solid #ee5e3e;
  background-color: #ee5e3e;
}

.button-link a:hover,
.button-link a:focus {
  background-color: #f48468;
}

.menu-list {
  border: 1px solid #ffffff;
}

.navigator-number {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
}

.navigator-time {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.sale-berries {
  background-image: url("img/raspberries.jpg");
  background-repeat: no-repeat;
}

.discount {
  color: #ffffff;
  font-size: 35px;
  text-align: 41px;
}

.sale-berries,
.sale-chocolate {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 17px;
  padding-left: 20px;

  width: 560px;
  height: 229px;
}

.sale-chocolate {
  background-image: url("img/chocolate.jpg");
  background-repeat: no-repeat;
}

.berries-text {
  color: #ffffff;
  font-size: 18px;
  text-align: 22px;

  padding-top: 6px;
}

.sale-berries a,
.sale-chocolate a {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  text-align: center;

  height: 47px;
  width: 166px;

  border-color: #ee5e3e;
  background-color: #ee5e3e;
}

.catalog-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 1200px;
  outline: 1px solid red;
}

.catalog-product,
.catalog-product a{
  color: #ffffff;
  list-style: none;
}

.catalog-category {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item-price {
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-price span {
  font-size: 45px;
  line-height: 45px;
}

.main-info {
  display: flex;
  flex-wrap: wrap;

  background-image: url("img/wafer.jpg");
  background-color: #ede1c7;

  color: #323232;
  width: 1146px;

  outline: 1px solid red;
}
.main-info-market {
  flex-grow: 1;

  color: #575550;
  font-size: 24px;
  line-height: 30px;
}

.info-list {
  color: #575550;
  font-size: 16px;
  line-height: 22px;
  list-style: none;
}

.manufacture,
.ecology,
.Components,
.advantages-delivery {
  width: 573px;
}

.blog-mailling {
  display: flex;
  justify-content: space-around;

  width: 1200px;

  outline: 1px solid red;
}

.blog {
  background-image: url("img/barries.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;

  width: 560px;
}

.blog-news {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}

.blog-category {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.mailing {
  background-color: #f8f7f4;
  border: 5px dotted #92cdff;

  width: 560px;

  color: #848483;
}

.contact-info {
  border: 1px solid #ffffff;
  background-color: #ffffff;

  color: #323232;
}

.main-footer {
  display: flex;
}

.footer-list a,
.footer-list {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

.footer-copyright a {
  color: #ffffff;

}
